.testimonials{
  padding:100px 20px;
}

.testimonials h2{
  text-align:center;
  margin-bottom:50px;
}

.testimonial-card{
  max-width:700px;
  margin:auto;
  background:#07111f;
  color:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
}